* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}
p {
  line-height: 30px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0 none;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  text-decoration: none;
  border: 0 none;
  cursor: pointer;
}
.btn-primary i {
  color: #fff;
  margin-right: 10px;
}

.btn-primary.btn-white i {
  color: #fd6e0a;
}

header {
  background-color: #fff8f3;
  background-image: url('../images/developer.png'),
    url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: auto 95%, auto 60%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  padding-top: 50px;
  width: 90%;
  max-width: 1600px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  margin-left: 50px;
}
nav li a {
  color: #474747;
  text-decoration: none;
  font-size: 20px;
}

.site_title {
  font-size: 45px;
  font-weight: 800;
}

.site_title span {
  color: #fd6e0a;
  font-size: 45px;
  font-weight: 800;
}

div.banner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}
div.banner_content h3 {
  font-weight: 600;
  font-size: 45px;
}
div.banner_content h2 {
  color: #181818;
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}

div.banner_content p {
  margin-bottom: 30px;
  line-height: 30px;
}

.btn-primary.btn-white {
  border: 1px solid #fd6e0a;
  background-color: #fff;
  color: #fd6e0a;
}

main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
}

section.about {
  background-color: #fff8f3;
  border-radius: 10px;
  text-align: center;
  padding: 130px 155px;
  margin-bottom: 130px;
}
.section_title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
}

.about_info_wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.about_info_wrap .about_info h3 {
  font-weight: 400;
  font-size: 20px;
}
.about_info_wrap .about_info p {
  font-weight: 700;
  color: #474747;
}

section.what_i_do {
  text-align: center;
  margin-bottom: 130px;
}

section.what_i_do > p {
  max-width: 80%;
  margin: 0 auto 50px;
}

.tech_boxes {
  display: flex;
  text-align: left;
  justify-content: space-around;
  gap: 24px;
}
.single_tech {
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.single_tech h3 {
  color: #181818;
  font-weight: 700;
  margin: 20px 0 30px;
}
.single_tech p {
  font-size: 16px;
}

.edu_exp_wrap {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 115px;
}

.exp_wrap h3,
.edu_wrap h3 {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.single_exp h4,
.single_edu h4 {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
}

.single_edu h5,
.single_exp h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 20px;
}

.single_edu p,
.single_exp p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

.single_edu,
.single_exp {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

.single_edu:last-child,
.single_exp:last-child {
  border-bottom: 0 none;
}

.btn_wrap_center {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

footer {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #fff8f3;
}

.footer-wrap {
  display: flex;
  gap: 110px;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

footer h2 {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}

footer p {
  font-size: 16px;
  margin: 20px 0 30px;
}

footer ul.social {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.social i {
  color: #fd6e0a;
}

footer form {
  margin-top: 20px;
}

footer form input[type='text'],
footer form input[type='email'],
footer form textarea {
  font-size: 15px;
  padding: 15px 10px;
  width: 90%;
  margin-bottom: 24px;
  border: 0 none;
}
form *:focus {
  border: 0 none;
  outline: 0;
}
